* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.add-quiz-wrapper {
  display: grid;
  place-items: center;
  button {
    border-radius: 0.7em;
    padding: 1em 4em 1em;
    border: none;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.45s ease;
    background-color: #dddddd;
  }
  button:hover {
    background: #b8b8b8;
  }
  .submit {
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    border-radius: 0.7em;
    padding: 1em 4.5em 1em;
    margin: 1em;
    border: none;
    color: #fff;
    background: #c32074;
    transition: background-color 0.45s ease;
  }
  .submit:hover {
    background: #750f44;
  }
}
.add-quiz-wrapper .subject-container {
  color: #fff;
  font-weight: 500;
  background-color: #c32074;
  padding: 1.7em 2.5em 1.7em 2.5em;
  border-radius: 0.7em;
  margin: 3em 2em 1em 2em;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  label {
    text-align: center;
    font-size: 1.4em;
    display: block;
    margin: 0em 1em 1em 0.2em;
  }
  input {
    width: 20em;
    font-size: 1em;
    padding: 1em;
    border-radius: 0.7em;
    border: none;
  }
  input:focus {
    outline: none;
  }
}
.add-quiz-wrapper .add-quiz-container {
  display: grid;
  padding: 1.2em 2.5em 3em 2.5em;
  margin: 0em 2em 1.5em 2em;
  border-radius: 0.7em;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  button {
    margin-top: 1.3em;
    border-radius: 0.7em;
    padding: 1em;
    border: none;
    cursor: pointer;
    transition: background-color 0.45s ease;
    background-color: #dddddd;
  }
  button:hover {
    background: #b8b8b8;
  }
}
.add-quiz-wrapper .add-quiz-container .input-container {
  label {
    font-size: 1.2em;
    display: block;
    margin: 1em 1em 1em 0.2em;
  }
  input {
    width: 20em;
    font-size: 1em;
    border-radius: 0.7em;
    padding: 1em;
    border: 1px solid #aaaaaa;
    color: #000000;
  }
}
.add-quiz-wrapper .add-quiz-container .extra-input-container {
  display: flex;
  align-items: center;

  .delete-icon {
    position: absolute;
    margin: 18px 0px 0px 13.9em;
    cursor: pointer;
    font-size: 20px;
    color: #c32074;
  }
}
